body {
    padding: 0;
    margin: 0;
}

html, body, #map, .left {
    height: 100%;
}
#map {
    margin-left: 300px;
}
.left {
    padding: 20px;
    float:left;
    overflow-y: auto;
    width: 300px;
}
.btn {
    white-space: normal;
}
